/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes loading {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes loading {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(-360deg); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

body {
    background-color: #fefefe;
    color: #333;
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    font-weight: 300;
}

input {
    color: #1c8cc8;
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
}

section,
#pactions,
#menu {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* INIT OVERLAY */
#init {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: -14px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.35);
    box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.4);
    z-index: 900;
}

#over-msg {
    position: relative;
    margin: 25% auto;
    width: 320px;
    height: 68px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.8);
}

.loader {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    color: #1c8cc8;
    font-size: 1.3em;
    -webkit-animation:  loading 0.8s infinite linear;
    -moz-animation:     loading 0.8s infinite linear;
    -ms-animation:      loading 0.8s infinite linear;
    -o-animation:       loading 0.8s infinite linear;
    animation:          loading 0.8s infinite linear;
}

.init-msg {
    display: inline-block;
    margin-left: 14px;
    line-height: 4.3em;
}

/* NAVIGATION */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1400px;
    height: 48px;

    color: #eee;
    font-size: 0.9em;
    text-align: right;

    background-color: #333;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    z-index: 800;
}

#nav,
#pactions,
#status,
#misc {
    position: relative;
    display: inline-block;
    float: left;
    height: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.4em;
}

#nav,
#pactions {    
    width: 148px;
    color: #eee;
    border-right: 1px solid rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#nav:hover,
.nav-hover {
    box-shadow: inset -9px 9px 8px -6px rgba(20, 20, 20, 0.4);
    color: #1c8cc8;
}

#menu {
    position: fixed;
    top: 48px;
    width: 148px;
    background-color: #333;
    color: #eee;
    font-size: 1.3em;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.4);
    z-index: 801;
    display: none;
}

#menu ul {
    width: 148px;
    margin: 0 auto;
    margin-left: -40px;
    text-align: left;
}

#menu li {
    padding: 12px 0 12px 8px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#menu li:hover {
    background-color: #1c8cc8;
    cursor: pointer;
}

#menu li.last {
    border-bottom: 0;
}

#status {
    position: relative;
    display: inline-block;
    margin-left: 280px;
    padding: 4px;
    width: 180px;
    height: 40px;
    overflow: hidden;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2.8em;
    color: #eee;
}

#misc {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 38px;
    margin-left: 300px;
    text-align: right;
    line-height: 1.5em;
    padding-top: 2px;
}

#misc div {
    float: right;
    height: 22px;
    width: 100%;
    padding-right: 4px;
    text-transform: none;
}

#misc #device:before,
#misc #file:before {
    position: absolute;
    width: 70px;
    height: 22px;
    left: -78px;
    text-align: left;
    line-height: 1.5em;
}

#misc #device:before {
    content: 'DEVICE:';
}

#misc #file:before {
    content: 'FILE:';
}

.wrapper {
    margin: 80px auto;
    width: 100%;
    min-height: 580px;

    /*border: 1px solid red;*/
}

.label {
    position: relative;
    margin-top: 8px;
    text-transform: uppercase;
    float: right;
}

/* PRINT ACTIONS */
#pactions div {
    display: inline-block;
    font-size: 1.8em;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

#pactions div:hover {
    color: #1c8cc8;
}

/* MOVE SECTION */
#movement {
    position: relative;
    display: inline-block;
}

#movement input {
    width: 38px;
    border: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.8);
    text-align: right;
    margin-left: -14px;
    margin-right: 14px;
}

#movement .btn {
    cursor: pointer;
}

#x {
    top: 10px;
    right: 48px;
}

#y {
    top: 40px;
    right: 0px;
}

#z {
    top: 88px;
    right: -48px;
}

#controller {
    position: relative;
    margin-top: 3   8px;
    margin-left: 140px;
    width: 320px;
    height: 320px;
    border-radius: 380px;
    color: #888;
    font-size: 2.8em;
    text-align: center;
    /*border: 2px solid #1c8cc8;*/
}

#controller label.directional {
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid #888;
    border-radius: 34px;
    font-size: 0.4em;
    line-height: 1.4em;
    color: #888;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: #ddd;
    z-index: 30;
}

#controller label[for=xneg] {
    top: 152px;
    left: 180px;
    opacity: 0.3;
}

#controller label[for=ypos] {
    top: 76px;
    left: 262px;
    opacity: 0.3;
}

#controller label[for=xpos] {
    top: 152px;
    left: 342px;
    opacity: 0.3;
}

#controller label[for=yneg] {
    top: 230px;
    left: 262px;
    opacity: 0.3;
}

#xneg,
#xpos {
    position: absolute;
    width: 70px;
    height: 210px;
    background-color: #fff;
    border-radius: 90px;
    cursor: pointer;

    /*border: 1px solid cyan;*/
}

#yneg,
#ypos {
    position: absolute;
    width: 250px;
    height: 70px;
    background-color: #fff;
    border-radius: 90px;
    cursor: pointer;

    /*border: 1px solid pink;*/
}

#ypos {
    top: 0px;
    left: 150px;
    line-height: 1.5em;
    padding-left: 1px;
}

#xneg {
    top: 62px;
    left: 110px;
    line-height: 2.9em;
}

#xpos {
    top: 61px;
    right: -124px;
    line-height: 4.5em;
}

#yneg {
    top: 264px;
    left: 151px;
    line-height: 0.9em;
}

#xneg,
#yneg {
    font-size: 1.5em;
}

#xpos:before,
#xneg:before {
    content: '';
    position: absolute;
    width: 114px;
    height: 255px;
    background-repeat: no-repeat;
}

#ypos:before,
#yneg:before {
    content: '';
    position: absolute;
    width: 280px;
    height: 114px;
    background-repeat: no-repeat;
}

#ypos:before {
    top: -2px;
    left: 22px;
    background-image: url(../img/top.png);
}

#xneg:before {
    top: 4px;
    left: -5px;
    background-image: url(../img/left.png);
}

#xpos:before {
    top: 4px;
    left: -20px;
    background-image: url(../img/right.png);
}

#yneg:before {
    top: -19px;
    left: 22px;
    background-image: url(../img/bottom.png);
}


#xneg-txt,
#xpos-txt {
    position: relative;
    text-align: center;
    color: #1c8cc8;
}

#xneg-txt {
    margin-top: 66px;
    font-size: 5em;
}

#xpos-txt {
    margin-top:96px;
    margin-left: 30px;
    font-size: 2.8em;
}

#controller div.btn:hover {
    color: #1c8cc8;
}

.island {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

#xy.island {
    top: 96px;
    left: 210px;
}

#controller input {
    position: absolute;
    width: 76px;
    left: 20px;
    font-size: 0.7em;
}

#xysteps,
#zsteps,
#esteps {
    top: 28px;
}

#movement #xyspeed,
#movement #zspeed,
#movement #espeed {
    top: 75px;
    border-bottom: 0;
}

#controller label {
    position: absolute;
    font-size: 0.3em;   
    left: 88px;
}

.mm {
    top: 48px;
}

.mmm {
    top: 94px;
}

#zneg,
#zpos {
    position: absolute;
    left: 20px;
}

#zneg,
#e1pos {
    top: 48px;
}

#zpos,
#e1neg {
    top: 224px;
}

#z.island {
    top: 96px;
    left: -4px;
}

#zlabel,
#elabel {
    position: absolute;
    top: 46px;
    width: 34px;
    height: 34px;
    border: 1px solid #888;
    border-radius: 34px;
    font-size: 0.5em;
    line-height: 1.5em;
    color: #888;
    opacity: 0.8;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: #ddd;
}

#zlabel {
    left: -44px;
}

#zneg:before,
#zpos:before {
    content: '';
    position: absolute;
    width: 280px;
    height: 114px;
}

#zneg:before {
    top: 0px;
    left: 0px;
}

#zpos:before {
    top: 0px;
    left: 0px;
}

#e1neg,
#e1pos {
    position: absolute;
    left: 492px;
}

#e.island {
    top: 96px;
    left: 468px;
}

#elabel {
    left: 98px;
}

/* TEMP SECTION */
#temperature {
    position: absolute;
    top: 70px;
    left: 940px;
    width: 240px;
    height: 480px;
}

#temperature .label {
    position: absolute;
    color: #666;
}

#hotend-ico,
#hotbed-ico {
   position: absolute;
   width: 34px;
   height: 34px;
   border: 1px solid #888;
   border-radius: 34px;
   font-size: 0.8em;
   opacity: 0.7;
   box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
   background-color: #ddd;
}

#hotend-ico,
#hotbed-ico {
   top: -18px;
   left: 180px;
}

#platform {
    position: absolute;
    top: 3px;
    left: 9px;
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

#extrusion {
    position: absolute;
    top: 15px;
    left: 9px;
}

.icon-fire {
    position: absolute;
    top: 7px;
    left: 11px;
}

#hotend {
    top: 14px;
    right: 78px;
}

#hotbed {
    position: absolute;
    top: 180px;
    left: 120px;
}

.scale {
    position: relative;
    margin-bottom: 68px;
    width: 200px;
    height: 200px;
    border: 1px solid #1c8cc8;
    border-top: 2px solid #1c8cc8;
    border-bottom: 2px solid transparent;
    border-radius: 100px;
    box-shadow: inset 0px 4px 5px rgba(100, 100, 100, 0.4);
}

.valu {
    margin: 54px 45px;
    width: 100%;
}

.actual {
    width: 110px;
    padding: 0;
    font-size: 2.6em;
    color: #1c8cc8;
    text-align: center;
}

.deg {
    display: inline-block;
    font-size: 0.8em;
}

.intemp {
    position: relative;
    margin-top: 0px; 
    margin-left: 22px;
    width: 38px;
    height: 24px;
    text-align: right;
    font-size: 1.1em;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.8);
}

.set {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: "OpenSansRegular";
    font-weight: 300;
    font-size: 1.1em;
    cursor: pointer; 
}

.set:hover {
    color: #1c8cc8;
}

/* HOME ACTIONS */
#homer {
    position: absolute;
    top: 430px;
    left: 140px;
    width: 160px;
    height: 160px;
    font-size: 1.8em;
    border: 2px solid #888;
    border-radius: 240px;
}

.icon-home {
    position: absolute;
    top: 58px;
    left: 58px;
    width: 43px;
    height: 43px;
    padding-right: 1px;
    text-align: right;
    color: #555;
    border: 1px solid rgba(180, 180, 180, 0.8);
    border-radius: 54px;
    box-shadow: 0px 4px 8px -6px rgba(0, 0, 0, 0.8);
}

#homer div.btn {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #888;
    font-size: 0.7em;
    line-height: 2.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid rgba(43, 180, 255, 0.8);
    border-right: 3px solid rgba(43, 180, 255, 0.8);
    border-bottom: 2px solid rgba(43, 180, 255, 0.8);
    border-radius: 48px;
    cursor: pointer;
}

#homer #ha {
    top: 59px;
    left: -18px;
    font-size: 0.6em;
    line-height: 2.3em;
    border-top: 2px solid rgba(43, 180, 255, 0.8);
    border-left: 3px solid rgba(43, 180, 255, 0.8);
    border-bottom: 2px solid rgba(43, 180, 255, 0.8);
    border-right: 0;
}

#ha:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 33px;
    border-top: 19px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 19px solid #888;
    border-radius: 42px;
    z-index: -1;
}

#homer #hz {
    top: -24px;
    right: 54px;
    border: 2px solid rgba(43, 180, 255, 0.8);
}

#homer #hx {
    top: 60px;
    right: -18px;
    border: 2px solid rgba(43, 180, 255, 0.8);
}

#homer #hy {
    top: 118px;
    right: 8px;
    border: 2px solid rgba(43, 180, 255, 0.8);
}

#hz:hover,
#hx:hover,
#hy:hover {
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

#ha:hover {
    box-shadow: inset 3px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

/* MENU ITEMS */
input.fi {
    width: 0;
    height: 0;
    margin-left: -10px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
