/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes loading {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes loading {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(-360deg); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

body {
    background-color: #fefefe;
    color: #333;
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    font-weight: 300;
}

input {
    color: #1c8cc8;
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: -14px;
    left: 0;
    right: 0;
    background-color: rgba(200, 200, 200, 0.35);
    z-index: 900;
}

#over-msg {
    position: relative;
    margin: 45% auto;
    width: 360px;
    height: 78px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.8);
}

.loader {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    color: #1c8cc8;
    font-size: 1.6em;
    -webkit-animation:  loading 0.8s infinite linear;
    -moz-animation:     loading 0.8s infinite linear;
    -ms-animation:      loading 0.8s infinite linear;
    -o-animation:       loading 0.8s infinite linear;
    animation:          loading 0.8s infinite linear;
}

.init-msg {
    position: relative;
    display: inline-block;
    margin-left: 26px;
    font-size: 1.3em;
    color: #333;
}

#nav-top,
#nav-bottom {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #333;
    color: #eee;
    text-align: center;
    z-index: 800;
}


#nav-top {
    top: 0;
    height: 30px;
    font-size: 1em;
    line-height: 1.9em;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

#nav-bottom {
    bottom: 0;
    height: 54px;
    font-size: 1.6em;
    line-height: 2.2em;
    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.4);
}

#nav,
#pactions,
#status,
#misc {
    position: relative;
    display: inline-block;
    width: 148px;
    text-transform: uppercase;
    overflow: hidden;
}

#nav,
#status {
    float: left;
    border-right: 1px solid rgba(100, 100, 100, 0.8);
}

#pactions,
#misc {
    float: right;
    text-transform: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
