/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes loading {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes loading {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(-360deg); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

body {
    background-color: #fefefe;
    color: #333;
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    font-weight: 300;
}

input {
    color: rgba(0, 82, 156, 0.5);
    font-family: 'OpenSansLight','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
}

section,
#pactions,
#menu {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.btn {
    cursor: pointer;
}

/* INIT OVERLAY */
#init {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: -14px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.4);
    z-index: 900;
}

#over-msg {
    position: relative;
    margin: 25% auto;
    width: 320px;
    height: 68px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.8);
}

.loader {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    color: rgba(0, 82, 156, 0.5);
    font-size: 1.3em;
    -webkit-animation:  loading 0.8s infinite linear;
    -moz-animation:     loading 0.8s infinite linear;
    -ms-animation:      loading 0.8s infinite linear;
    -o-animation:       loading 0.8s infinite linear;
    animation:          loading 0.8s infinite linear;
}

.init-msg {
    display: inline-block;
    margin-left: 14px;
    line-height: 4.3em;
}

/* NAVIGATION */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1400px;
    height: 48px;
    color: #eee;
    font-size: 0.9em;
    text-align: right;
    background-color: #333;
    z-index: 800;
}

#nav,
#pactions,
#status,
#misc {
    position: relative;
    display: inline-block;
    float: left;
    height: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.4em;
}

#nav,
#pactions {    
    width: 148px;
    color: #eee;
    border-right: 1px solid rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

/*
#nav:hover,
.nav-hover {
    box-shadow: inset -9px 9px 8px -6px rgba(20, 20, 20, 0.4);
    color: rgba(0, 82, 156, 0.5);
}
*/

#menu {
    position: fixed;
    top: 48px;
    width: 148px;
    background-color: #333;
    color: #eee;
    font-size: 1.3em;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.4);
    z-index: 801;
    display: none;
}

#menu ul {
    width: 148px;
    margin: 0 auto;
    margin-left: -40px;
    text-align: left;
}

#menu li {
    padding: 12px 0 12px 8px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#menu li:hover {
    background-color: #7fa8cd;
    cursor: pointer;
}

#menu li.last {
    border-bottom: 0;
}

/*#status {
    position: relative;
    display: inline-block;
    margin-left: 280px;
    padding: 4px;
    width: 180px;
    height: 40px;
    overflow: hidden;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2.8em;
    color: #eee;
}*/

#misc {
    position: relative;
    display: inline-block;
    float: right;
    width: 420px;
    height: 46px;
    text-align: right;
    line-height: 1.5em;
    padding-top: 3px;
    border-left: 1px solid rgba(100, 100, 100, 0.8);
}

#misc div {
    float: left;
    height: 20px;
    width: 100%;
    padding-left: 84px;
    text-transform: none;
    text-align: left;
    font-style: italic;
}

#misc #device:before,
#misc #file:before {
    position: absolute;
    width: 70px;
    height: 22px;
    left: 14px;
    text-align: left;
    line-height: 1.5em;
    font-style: normal;
}

#misc #device:before {
    content: 'DEVICE:';
}

#misc #file:before {
    content: 'FILE:';
}

.wrapper {
    margin: 45px auto;
    width: 100%;
    min-height: 580px;

    /*border: 1px solid red;*/
}

.label {
    position: relative;
    margin-top: 8px;
    text-transform: uppercase;
    float: right;
}

/* PRINT ACTIONS */
#pactions div {
    display: inline-block;
    margin-left: 8px;
    height: 38px;
    width: 34px;
    font-size: 1.8em;
    /*line-height: 1.4em;*/
    cursor: pointer;
}

#pactions div:hover { 
    color: #7fa8cd;
}

/* MOVE SECTION */
#movement {
    position: relative;
    display: inline-block;
    margin-top: 28px;
    margin-left: 18px;
    width: 80%;
    height: 540px;
}

#pa {
    position: relative;
    margin-top: 68px;
    margin-left: 98px;
    background-color: #3e3e3e;
    border: 8px solid #333;
    border-radius: 8px;
    cursor: pointer;
}

/* TEMP SECTION */
#temperature {
    position: absolute;
    top: 204px;
    left: 800px;
    width: 240px;
    height: 480px;
}

#temperature label {
    position: relative;
    background-color: #444;
    margin-left: 3px;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    font-size: 0.7em;
    color: #fff;
}

.tempr {
    position: relative;
    width: 380px;
    height: 54px;
    margin-top: -1px;
    margin-bottom: 24px;
    border: 2px solid #444;
    border-radius: 4px;
}

.tempr div,
.tempr input {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 auto;
    width: 94px;
    height: 54px;
    vertical-align: top;
    text-align: center;
    font-size: 1.5em;
}

.tempr div {
    line-height: 2.2em;
}

.intemp {
    border: 0;
    padding: 0;
    border-right: 1px solid #fefefe;
}

.deg { font-size: 0.8em; }

.tempr .actual {
    padding-left: 1px;
    background-color: #444;
    color: #fff;
}

.tempr input,
.tempr .off-btn,
.tempr .on-btn {
    cursor: pointer;
}

.tempr .off-btn:hover,
.tempr .on-btn:hover {
    box-shadow: inset -3px 0px 12px -8px rgba(0, 0, 0, 0.8); 
}

.tempr .off-btn:active,
.tempr .on-btn:active {
    box-shadow: inset -4px 0px 12px -8px rgba(0, 0, 0, 0.8); 
}

.tempr .off-btn, .tempr .on-btn { border-right: 1px solid rgba(200,200,200, 0.4); }


/* HOME ACTIONS */
.toggle-wrapper {
    height: 46px;
    border: 2px solid #444;
    border-radius: 4px;
}

#homer,
#pm {
    position: relative;
    margin-left: 14px;
    font-size: 1.2em;
    line-height: 2.4em;
    text-transform: uppercase;
}

#homer {
    display: inline-block;
    margin-bottom: 12px;
    width: 420px;
}

#pm {
    width: 680px;
}

.toggle-wrapper div {
    display: inline-block;
    width: 82px;
    height: 46px;
    float: left;
    text-align: center;
    border-right: 1px solid rgba(200,200,200, 0.4);
}

#homer #hlabel,
#pm #zlabel,
#pm #elabel {
    margin: 0 auto;
    width: 79px;
    background: #444;
    color: #fff;
    padding-right: 8px;
}

#homer .last,
#pm .minus-btn {
    border: none;
}

#pm .plus-btn,
#pm .minus-btn {
    font-size: 1.8em;
    cursor: pointer;
}

#pm .minus-btn { line-height: 1.2em; }

#homer .btn:hover,
#pm .plus-btn:hover,
#pm .minus-btn:hover { 
    box-shadow: inset -3px 0px 12px -8px rgba(0, 0, 0, 0.8); 
}

#homer .btn:active,
#pm .plus-btn:active,
#pm .minus-btn:active { 
    box-shadow: inset -4px 0px 12px -8px rgba(0, 0, 0, 0.8); 
}

#mo {
    position: relative;
    display: inline-block;
    margin-top: 1px;
    margin-left: 8px;
    width: 92px;
    height: 46px;
    font-size: 0.75em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    background-color: rgba(0, 82, 156, 0.5);
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 8px;
    vertical-align: top;
}

#mo:hover { box-shadow: inset -3px -3px 12px -8px rgba(0, 0, 0, 0.8); }
#mo:active { box-shadow: inset -4px -4px 12px -8px rgba(0, 0, 0, 0.8); }

#z, 
#e { 
    display: inline-block; 
    width: 254px; 
}

#z { margin-right: 12px; }

/* SLIDERS */
.slider {
    position: absolute;
    background-color: rgba(0, 82, 156, 0.5);
}

#x {
    top: 212px;
    left: 58px;
    height: 415px;
    width: 4px;
}

#y {
    top: 164px;
    left: 108px;
    width: 567px;
    height: 4px;
}

.handle {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: #eee;
    background-image: url(/img/handles.png);
    cursor: pointer;
}

#x .handle {
    top: -19px;
    left: -22px;
    width: 38px;
    height: 32px;
    text-align: left;
    padding-left: 20px;
    line-height: 2.1em;
    background-position: -128px -43px;
}

#y .handle {
    top: -24px;
    left: -18px;
    width: 32px;
    height: 58px;
    line-height: 3em;
    background-position: -78px -36px;
}

/* MENU ITEMS */
input.fi {
    width: 0;
    height: 0;
    margin-left: -10px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
